/* Importing Neue Haas Grotesk Display Pro font */
@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

}

body {
    background-color: #F5F5F5;
}


/* Navbar Design ~ Starts here*/

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 5px;
    /* backdrop-filter: blur(50px) saturate(180%);
    -webkit-backdrop-filter: blur(50px); */
    background-color: #F5F5F5;
    border-bottom: 1px solid;
    padding: 10px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 25px;
    color: #000000;
    padding: 10px 10px 10px 10px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;

}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;

}


.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

.nav>.nav-links>a:hover {
    color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.egj {
    text-decoration: none;
    color: #000000;
}

.egj:hover {
    color: rgba(0, 0, 0, 0.3);
}

main {
    padding-top: 250px;
}


.container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    justify-items: stretch;
    align-items: stretch;
}




.personal-info {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 79px;
    color: #282828;
}


.about-me {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;

    color: #000000;
}

.accordion {

    background-color: #F5F5F5;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 64px;
}

.active,
.accordion:hover {
    background-color: #ccc;
    border-radius: 8px;
}

.accordion:after {
    /* content: '\1F783'; */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/* .active:after {
    content: "\1F891";
} 
*/
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.0.8s ease-out;
}



#home {
    margin-bottom: 150px;
    padding-top: 25px;
}

#about {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#projects {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#project-trofta {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#project-vesuvio {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#project-HIB {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#project-Sursee {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#project-BMI {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 25px;
}

#contact {
    margin-top: 100px;
    margin-bottom: 150px;
    padding-top: 25px;
}

.project-title {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 45.0633px;
    line-height: 52px;
    border-bottom: 1px solid black;
    margin: 15px;
}

.project-info {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    margin: 15px;
}

.code-of-project {
    border: 1px solid #000000;
    background-color: white;
    width: 200px;
    color: #000000;
    padding: 15px;
    margin: 15px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.5s ease;
}

.code-of-project:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 10px 7px #888888;
}

.demo-of-project {
    border: 1px solid #000000;
    background-color: white;
    width: 200px;
    color: #000000;
    padding: 15px;
    margin: 15px;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.5s ease;
}

.demo-of-project:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 10px 7px #888888;
}



#contact-form {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.input-label {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.5s ease;
    margin-bottom: 15px;
    text-align: center;
}

#input-subject {
    padding: 5px;
    width: 250px;
    border: 1px solid black;


    /* border-style: none none solid none; */
}

#textarea-message {
    padding: 5px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    min-width: 250px;
    resize: vertical;
    font-family: 'Neue Haas Grotesk Display Pro';
}

.demoInputBox {
    padding: 10px;
    border: #a5d2ca 1px solid;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    margin-top: 5px;
}

.error {
    background-color: #FF6600;
    padding: 8px 10px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 0.9em;
}

.success {
    background-color: #c3c791;
    padding: 8px 10px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 0.9em;
}

.info {
    font-size: .8em;
    color: #FF6600;
    letter-spacing: 2px;
    padding-left: 5px;
}

.btnAction {
    background-color: #82a9a2;
    padding: 10px 40px;
    color: #FFF;
    border: #739690 1px solid;
    border-radius: 4px;
}

.btnAction:focus {
    outline: none;
}

.column-right {
    margin-right: 6px;
}

.contact-row {
    display: inline-block;
    width: 32%;
}

@media all and (max-width: 550px) {
    .contact-row {
        display: block;
        width: 100%;
    }
}


/* Responsive for mobile */
@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .column {
        width: 100%;
    }
}